@page "/imprint"

@using MudBlazor

<PageTitle>Imprint</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <MudMarkdown Value="@Content"></MudMarkdown>
        </div>
    </div>
</div>