@page "/settings"

@inject IStringLocalizer<NavMenu> LocNav

<h1>@LocNav["Settings"]</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <MudSwitch @bind-Value="ShowConsistency" Color="Color.Primary" @onchange="OnShowConsistencyChanged">@Loc["ShowConsistency"]</MudSwitch>
        </div>
    </div>
</div>